{% load static %}
<!doctype html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <link rel="apple-touch-icon" href="{% static 'icon.png' %}">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <meta name="theme-color" content="#fafafa">

    <script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.6.0.slim.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    
    {% block head_js_more %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

</body>

</html>
