{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>Djangtails</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important:
                    {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Bienvenue sur Djangtails.</p>

    {% trans "Hi visitor!" %}
    {% trans "une nouvelle clé" %}
    <p>
        {% blocktrans trimmed %}
            I hope you
            will
            enjoy
            this
            Website
        {% endblocktrans %}
    </p>

    <a href="{% url 'recipe_list' %}">Recettes</a>
{% endblock %}
