<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un ingrédient</title>
</head>
<body>
    {# method="post" is important #}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label>
                {% if field.error %}
                    <span class="field-error">{{ field.error }}</span>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </label>
        {% endfor %}
        <button type="submit">Créer</button>
    </form>
    <a href="{% url 'index' %}">&larr; back</a>
</body>
</html>
