{% extends 'base.html' %}

{% block content %}
    <h1>Connectez-vous</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p role="status">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            <label>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                {{ field.label }}
                {{ field }}
            </label>
        {% endfor %}
        <input type="submit" />
    </form>
{% endblock %}
