<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de recettes</title>
</head>
<body>
    <ul>
    {% for object in object_list %}
        <li>
            <a href="{% url 'recipe_detail' object.pk %}">
                {{ object }}
            </a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'index' %}">&larr; back</a>
</body>
</html>
