<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de recettes</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
    <h2>{{ object.summary }}</h2>
    <p>{{ object.content }}</p>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'recipe_list' %}">&larr; back</a>
</body>
</html>
